{{#moduleName}}
@RealmModule(classes = [
{{#modelAndCommas}}
    {{#data}}{{name}}{{/data}}::class{{comma}}
{{/modelAndCommas}}
])
class {{moduleName}}
{{/moduleName}}

{{#models}}
@RealmClass
open class {{name}} (
{{#propertyAndComma}}
    {{#data}}{{primaryKeyAnnotation}}{{#indexed}}@Index {{/indexed}}{{#value}}{{{android}}}{{/value}}{{/data}}{{comma}}
{{/propertyAndComma}}
) : RealmObject()

{{/models}}
