import Foundation
import RealmSwift

{{#moduleName}}
struct {{moduleName}} {
    static let objectTypes: [Object.Type] = [
    {{#modelAndCommas}}
        {{#data}}{{name}}{{/data}}.self{{comma}}
    {{/modelAndCommas}}
    ]
}
{{/moduleName}}

{{#models}}
class {{name}} : Object {
{{#properties}}
    {{#value}}{{{ios}}}{{/value}}
{{/properties}}
{{#primaryKey}}

    override static func primaryKey() -> String? {
        return "{{name}}"
    }
{{/primaryKey}}
{{#hasIndexedProperties}}

    override static func indexedProperties() -> [String] {
        return [{{indexedPropertiesString}}]
    }
{{/hasIndexedProperties}}
}

{{/models}}
