package {{packageName}}

import java.util.Date

import io.realm.*
import io.realm.annotations.*

{{#models}}
@RealmClass
open class {{name}} (
{{#propertyAndComma}}
    {{#data}}{{primaryKeyAnnotation}}{{#value}}{{{android}}}{{/value}}{{/data}}{{comma}}

{{/propertyAndComma}}
) : RealmObject()

{{/models}}
