package {{packageName}}

import java.util.Date

import io.realm.*
import io.realm.annotations.*
{{#moduleName}}
@RealmModule(classes = [
{{#models}}
    {{name}}::class,
{{/models}}
])
class {{moduleName}}
{{/moduleName}}

{{#models}}
@RealmClass
open class {{name}} (
{{#propertyAndComma}}
    {{#data}}{{primaryKeyAnnotation}}{{#indexed}}@Index {{/indexed}}{{#value}}{{{android}}}{{/value}}{{/data}}{{comma}}
{{/propertyAndComma}}
) : RealmObject()

{{/models}}
