package {{packageName}}

import io.realm.*

{{#models}}
open class {{name}} (
{{#propertyAndComma}}
    {{#data}}{{primaryKeyAnnotation}}{{#value}}{{{android}}}{{/value}}{{/data}}{{comma}}
{{/propertyAndComma}}
) : RealmObject()

{{/models}}
