import Foundation
import RealmSwift

{{#models}}
class {{name}} : Object {
{{#properties}}
    {{#value}}{{{ios}}}{{/value}}
{{/properties}}
{{#primaryKey}}

    override static func primaryKey() -> String? {
        return "{{name}}"
    }
{{/primaryKey}}
{{#hasIndexedProperties}}

    override static func indexedProperties() -> [String] {
        return [{{indexedPropertiesString}}]
    }
{{/hasIndexedProperties}}
}

{{/models}}
