package {{packageName}}

import Foundation
import RealmSwift

{{#models}}
class {{name}} : Object {
{{#propertyAndComma}}
    {{#data}}{{#value}}{{{android}}}{{/value}}{{/data}}{{comma}}
{{/propertyAndComma}}
}

{{/models}}
